.header{
  background-color : white;
  height : 8%;
  width : 100%;
  display : flex;
  align-items : center;
  background-color : hsl(0, 0%, 80%); 
}

h1{
  margin-left : 10px;
}

#logo{
  font-size : 30px;
  margin-left : 20px;
}

#profile-box{
  font-size : 30px;
  margin-left : auto;
  margin-right : 10px;
  display : flex;
  align-items : center;
}

#profile-box button{
  font-size : 25px;
  border : 1px solid hsl(0, 0%, 100%, 0.5);
  background-color : hsl(0, 0%, 50%);
  color : white;
  padding : 5px;
  border-radius : 50%;
  margin-right : 20px;
  transition : 0.3s ease-in-out;
}

#user-profile{
  font-size : 30px;
  color : hsl(240, 100%, 20%);
  margin-right: 10px;
}

#profile-box button:hover {
  background-color : white;
  color : black;
  transform : scale(1.15);
}