@import "tailwindcss";

html, body{
  margin : 0px;
  padding : 0px;
  scroll-behavior : smooth;
}
#root{
  margin : 0px;
  padding : 0px;
  display : flex;
  flex-direction : column;
  height : 100vh;
  background-color : grey; 
}

@theme{

  --color-primary-bg : hsl(0, 0%, 10%);
  --color-secondary-bg : hsl(0, 0%, 20%);
  --color-ternary-bg : hsl(0, 0%, 30%);

  --color-button : hsl(0, 0%, 30%);

  --color-primary-text : hsl(0,0%, 100%);
  --color-secondary-text : hsl(0, 0%, 80%);
  --color-ternary-text : hsl(0, 0%, 70%);

}
@utility active-page{

  @apply text-secondary-text text-[18px] mr-5 bg-button hover:bg-button px-2 rounded-sm cursor-pointer transition-all duration-300 ease-in-out;

}

@utility inactive-page{

  @apply text-secondary-text text-[18px] mr-5 hover:bg-button px-2 rounded-sm cursor-pointer transition-all duration-300 ease-in-out; 

}